.container{
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.info{
  margin-top: 100px;
  text-align: center;
  padding: 100px;
}
p{
  text-align: left;
}

img{
  width: 300px;
}

.left{
  text-align: center;
}

.button{
  text-align: center;
}
